* {
  box-sizing: border-box;
}

body {
  /* background: green; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background.jpg);
  background-size: cover;
  /* background-position: center; */
  font-family: 'Allerta Stencil', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 80px;
}

.all {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* width: 1000px; */
}

.main {
  display: flex;
}

.left {
  width: 40%;
  height: 100%;
  /* height: 60vh; */
  /* background-color: purple; */
}

.middle {
  height: 100%;
  width: 300px;
  background-color: rgba(0, 0, 0,0.6);
  perspective: 350px;
  perspective-origin: 100% 0;
  color: green;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.right {
  width: 40%;
  height: 100%;
  /* height: vh; */
  display: flex;
  /* background-color: green; */
  /* perspective: 450px; */
  /* perspective-origin: 100% 0; */
  max-height: 600px;
  max-width: 600px;
}

#player {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  /* height: 80vh; */
  height: 60vh;
  min-width: 60vh;
  justify-content: center;
  /* margin-right: 10px; */
  /* transform: translateX(2px) rotateX(90deg); */
}

#computer {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 60vh;
  min-width: 60vh;
  justify-content: center;
  /* transform: translateX(0px) translateY(100px) translateZ(-100px); */
}


.nuclear-football {
  background-color: orange;
  width: 150px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateY(0px) translateZ(-50px) rotateY(-20deg);
}

.case-back {
  background-color: red;
  transform: translateX(0px) translateY(-20px) translateZ(-100px);
}

.case-bottom {
  height: 60px;
  background-color: blue;
  transform: translateY(-20px) translateX(px) rotateX(90deg);
}

.grid div {
  background-color: rgba(81, 120, 194,.2);
  border: 1px solid rgba(211, 211, 211,0.3);
  flex-grow: 1;
  height: 10%;
  width: 10%;
 
}

.grid div.vessel {
  background-color: black;
  background-size: 300px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.vessel-hover {
  border: 1px solid red;
  background-size: 300px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.hit {
  background-color: red;
  background-size: 300px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.miss {
  background-color: grey;
  background-size: 300px;
  background-position-x: 0;
  background-position-y: 0;
}

.gameplay-info {
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.vessel-icons {
  background-color: green;
  display: flex;
  /* border: 1px solid red; */
  /* height: inherit; */
  /* position: relative; */
}

.carrier {
  flex-grow: 5;
  background-image: url(../images/carrier.png);
  background-size: cover;
  background-position: bottom;
}

.battleship {
  flex-grow: 4;
  background-image: url(../images/battleship.png);
  background-size: cover;
  background-position: bottom;
  /* align-items: flex-end; */
}

.cruiser {
  flex-grow: 3;
  background-image: url(../images/cruiser.png);
  background-size: cover;
  background-position: bottom;
}

.destroyer {
  flex-grow: 3;
  background-image: url(../images/destroyer.png);
  background-size: cover;
  background-position: bottom;
}

.submarine {
  flex-grow: 2;
  background-image: url(../images/submarine.png);
  background-size: cover;
  background-position: bottom;
}