* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background.jpg);
  background-size: cover;
  font-family: 'Allerta Stencil', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 80px;
  color: rgb(80, 80, 80);
  text-shadow: 5px 5px 10px black;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main {
  display: flex;
}

.left {
  width: 40%;
  height: 100%;
}

.middle {
  height: 100%;
  width: 300px;
  background-color: rgba(0, 0, 0,0.6);
  perspective: 350px;
  perspective-origin: 100% 0;
  color: green;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.middle-top {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  display: none;
  flex-direction: column;
  align-items: center;
}

.show-score {
  display: none;
  flex-direction: column;
}

.dashboard {
  display: none;
}

.right {
  width: 40%;
  height: 100%;
  display: flex;
  max-height: 600px;
  max-width: 600px;
}

#player {
  border-left: 2px solid rgba(0, 128, 0, 0.8);
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 60vh;
  min-width: 60vh;
  justify-content: center;
}

#computer {
  border-right: 2px solid rgba(255, 0, 0, 0.8);
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 60vh;
  min-width: 60vh;
  justify-content: center;
}

.grid div {
  background-color: rgba(81, 120, 194,.2);
  border: 1px solid rgba(211, 211, 211,0.3);
  flex-grow: 1;
  height: 10%;
  width: 10%;
 
}

.grid div.vessel {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 300px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.vessel-hover {
  border: 1px solid red;
  background-size: 300px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.hit {
  background-color: rgba(255, 0, 0, 0.5);
  background-size: 300px;
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.miss {
  background-color: rgba(128, 128, 128, 0.5);
  background-size: 300px;
  background-position-x: 0;
  background-position-y: 0;
}

.gameplay-info {
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.deploy-fleet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vessel-icon-outline {
  background-repeat: no-repeat;
  position: relative;
}

.vessel-icon-filled {
  background-repeat: no-repeat;
  position: absolute;
}

.carrier-outline {
  background-image: url(../images/carrier-outline.png);
  height: 80px;
  width: 250px;
  background-size: 250px 80px;
}

.carrier-filled {
  background-image: url(../images/carrier-filled.png);
  height: 80px;
  width: 0%;
  background-size: 250px 80px;
  transition: ease 1s;
}

.battleship-outline {
  background-image: url(../images/battleship-outline.png);
  height: 80px;
  width: 250px;
  background-size: 250px 80px;
}

.battleship-filled {
  background-image: url(../images/battleship-filled.png);
  height: 80px;
  width: 0%;
  background-size: 250px 80px;
  transition: ease 1s;
}

.cruiser-outline {
  background-image: url(../images/cruiser-outline.png);
  height: 80px;
  width: 250px;
  background-size: 250px 80px;
}

.cruiser-filled {
  background-image: url(../images/cruiser-filled.png);
  height: 80px;
  width: 0%;
  background-size: 250px 80px;
  transition: ease 1s;
}

.destroyer-outline {
  background-image: url(../images/destroyer-outline.png);
  height: 80px;
  width: 250px;
  background-size: 250px 80px;
}

.destroyer-filled {
  background-image: url(../images/destroyer-filled.png);
  height: 80px;
  width: 0%;
  background-size: 250px 80px;
  transition: ease 1s;
}

.submarine-outline {
  background-image: url(../images/submarine-outline.png);
  height: 50px;
  width: 170px;
  background-size: 170px 50px;
}

.submarine-filled {
  background-image: url(../images/submarine-filled.png);
  height: 50px;
  width: 0%;
  background-size: 170px 50px;
  transition: ease 1s;
}